body {
    font-family: 'Lato', sans-serif;
}

*:focus {
    outline: none !important;
}

.social_button{
    background-color: #f4ab25;
}

.social_button:hover {
    opacity: 0.8;
}

.social{
    display: inline-block;
    text-align: center;
    cursor: none;
    border: none;
}
