.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 40px;
}

.container ul{
    padding: 0px;
    margin: 0px;
}


.container ul li{
    float:left;
    list-style: none;
    width:20%;
    height:300px;
    background: red;
    margin :20px 0px 20px 55px;
    border:2px solid blue;
    box-sizing: border-box;
}
.container ul li:hover{
    opacity: 0.8;
}

.container ul li .bottom{
    width: 100%;
    height:50px;
    line-height: 50px;
    background: blue;
    text-align: center;
    color:white;
    font-size: 20px;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container:hover .middle {
    opacity: 1;
}

.container:hover .image {
    opacity: 0.3;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

@media screen and (max-width:1250px) {
    .container ul li {
        width: 40%;
        margin-left: 40px;

    }
}