* {
    font-family: 'Lato', sans-serif;
}

*:focus {
    outline: none !important;
}

/*html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}*/

/*************************
        SLIDE TOP
*************************/

.container-slide {
    width: 100%;
    overflow: hidden;
}

.item{
    display: inline-block;
    width: 100%;
    height:100%;
    margin: 0 30px;
    overflow: hidden;
}

/* Create three equal columns that floats next to each other */
.column {
    display: inline-block;
    margin: 30px 30px;
    width:29%;
    height:255px;
    float: left;
    overflow: hidden;
}

.img{
    opacity: 1;
    display: block;
    width: 100%;
    height:100%;
    transition: .5s ease;
    backface-visibility: hidden;
    overflow: hidden;
}

.container-shop .column .btn-slide{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.container-shop .column .btn-slide:hover{
    background-color: black;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

/*************************
        SHOP
*************************/

h2{
    background-color: #f4ab25;
    padding-top: 0px;
    padding-bottom: 15px;
}

.image-shop{
    display: inline-block;
    width: 100%;
    height:100%;
    margin: 0 30px;
    overflow: hidden;
}

.container-shop{
    text-align: center;
    overflow: hidden;
}

.center{
    display: inline-block;
    margin: 30px 40px;
    width:28%;
    height: 100%;
}

.btn-shop{
    display: inline-block;
    width: 70%;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}


