body {
    font-family: 'Lato', sans-serif;
}

*:focus {
    outline: none !important;
}

/* ---------------------------------------------------
    NAVBAR
----------------------------------------------------- */

.navbar {
    overflow: hidden;
    background-color: #000000;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #fbfbff;
    text-align: center;
    text-decoration: none;
}


/*.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}*/

.btn-nav{
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: 5px 13px 5px 13px;
    background-color: #f4ab25;
    color: #000;
}

.btn-nav:hover{
    opacity: 0.8;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 2.5px solid #f4ab25;
    margin: 15px 0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/* ---------------------------------------------------
    Titre
----------------------------------------------------- */

.title {
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 43%;
    color: #f1f1f1;
}

.BDE{
    font-weight: bold;
    color: #f4ab25;
}

/* ---------------------------------------------------
    Connexion
----------------------------------------------------- */


.connexion:hover {
    opacity: 1;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #fbfbff;
    color: #f4ab25;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fbfbff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fbfbff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 0 10px 30px;
    font-size: 1.3em;
    display: block;
}

#sidebar ul li a:hover {
    color: #f4ab25;
    background: #fff;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #000000;
    background: #fbfbff;
    text-decoration: none;
}

#sidebar ul li.active>a i,
i [aria-expanded="true"]{
    color: #f4ab25;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #000000;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

h3{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---------------------------------------------------
    FORM LOGIN AND SING UP
----------------------------------------------------- */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 2px 20px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.btn-sign-up {
    border-radius: 2px;
    border: none;
    cursor: pointer;
    padding: 5px 13px 5px 13px;
    background-color: #f4ab25;
    color: #000;
}

.btn-sign-up:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}

.select{
    width: 100%;
    margin: 0 0 10px 0;
    padding: 2px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

span.psw {
    float: right;
    /*padding-top: 1px;*/
}

/* The Modal (background) */
.modal-sign-up {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: scroll;
    overflow-x: hidden;
    /*overflow: auto;*/ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.box-content-sign-up {
    background-color: #fefefe;
    margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modal-login{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: scroll;
    overflow-x: hidden;
    /*overflow: auto;*/ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.box-content-login{
    background-color: #fefefe;
    margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
}

.btn-login {
    border: none;
    cursor: pointer;
    width: 26%;
    padding: 5px 13px 5px 13px;
    margin: 0 0 5px 0;
    background-color: #f4ab25;
    color: #000;
}

.btn-login:hover {
    opacity: 0.8;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.signupbtn{
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    float: left;
    background-color: #f4ab25;
    color: #000;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    width: 40%;
    float: left;
    background-color: #f44336;
}

.cancelbtn-login{
    border: none;
    cursor: pointer;
    width: auto;
    padding: 5px 18px;
    margin: -10px 0;
    background-color: #f44336;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/* ---------------------------------------------------
    Body
----------------------------------------------------- */

h2{
    padding-top: 15px;
}

